* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background: url(images/food.jpg) no-repeat center/cover;
}

header {
  margin-top: 3rem;
  text-align: center;
}

form {
  margin-top: 1rem;
  text-align: center;
}
.thumb-section {
  margin-top: 3rem;
}

.tumb-tiles.swiper {
  padding: 0 4%;
}

.tumb-tile > img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 6px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide > p {
  position: absolute;
  font-weight: bold;
  text-align: center;
  right: 0;
  left: 0;
  top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #000;
}

.tumb-tiles .swiper-button-prev,
.tumb-tiles .swiper-button-next {
  height: 100%;
  width: 3%;
  width: calc(3%-5px);
  top: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(20, 20, 20, 0.5);
}

.tumb-tiles .swiper-button-prev {
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tumb-tiles .swiper-button-next {
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tumb-tiles .swiper-button-prev::after,
.tumb-tiles .swiper-button-next::after {
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 0.1s ease-out;
}
