* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: url(images/food.jpg) no-repeat center/cover;
}

header {
  text-align: center;
}

form {
  margin-top: 2rem;
  text-align: center;
}
